
/* Primeira parte */
.sectionPrincipal{
    width: 100%;
    height: 45.8vmax;
    transition: all 1s;
    background-image: url("./../img/teclado2.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ffffff5f;
}

.primeiraParte{
    width: 100%;
    height: 39.1vmax;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    transition: all 1s;
}

.primeiraParte .parteA, .primeiraParte .parteC{
    width: 15%;
    height: 39.1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff5f; */
}

.primeiraParte .parteA button, .primeiraParte .parteC button{
    background-color: transparent;
    border: 0;
    transform: scale(1.5);
}

.primeiraParte .parteA span, .primeiraParte .parteC span{
    font-size: 3em;
    color: #f5f5f5;
    transition: all 1s;
}

.primeiraParte .parteA span:hover, .primeiraParte .parteC span:hover{
    cursor: pointer;
}

.primeiraParte .parteB{
    width: 70%;
    height: 30vmax;
    display: flex;
    align-items: center;
}

.primeiraParte .parteB .infoPrincipal1 {
    width: 40%;
    height: 130px;
    background-color: #bb3838;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeiraParte .parteB .infoPrincipal1 p{
    color: #f5f5f5;
    font-family: 'El Messiri';
    font-size: 1em;
    text-align: center;
}




/* Divs teste */
/* .maisteste{
    width: 100%;
    height: 500px;
    background-color: #38bb38;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    width: 70%;
    height: 500px;
    background-color:blue;
    z-index: 1;
    position: sticky;
    top: 45vmax;
    /* margin-top: 0;
}

.div2{
    width: 90%;
    height: 80px;
    background-color: red;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    border-radius: 40px 40px 0 0;
} */
