/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=El+Messiri&family=Great+Vibes&family=Ubuntu:wght@300&display=swap');


@font-face {
  font-family: 'Mioge';
  src: url('./../assets/MiogeFreeTrial-WyBMz.ttf');
}

@font-face {
  font-family: 'titulo';
  src: url('./../assets/Aorell-mLEM5.ttf');
}

@font-face {
  font-family: 'label';
  src: url('./../assets/ChaslowRegular-d919K.otf');
}

:root {
  --clr: #bb3838;
  --navHei: 80px;
  --trans: all 1s;
  --messi: 'El messiri';
  --vibes: 'Great vibes';
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr);
  border-radius: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--trans);
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
  display: flex;
}

.barraPerfil {
  width: 30%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 0 10px #161618;
  margin-right: 40px;
}

.barraPerfil .titulo {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barraPerfil .titulo a

/*(.h2)*/
  {
  color: var(--clr);
  font-size: 2.5em;
  font-family: 'titulo';
  text-decoration: none;
}

.barraPerfil .titulo a:hover {
  letter-spacing: 10px;
}

.barraPerfil .conteudo {
  width: 80%;
  height: 60%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.barraPerfil .conteudo .nome {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.barraPerfil .conteudo .nome h3 {
  color: var(--clr);
  font-family: var(--messi);
  font-size: 1.7em;
}

.barraPerfil .conteudo .bio {
  width: 90%;
  height: 30%;
  padding-top: 10px;
  /* background-color: cadetblue; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.barraPerfil .conteudo .bio span {
  color: var(--clr);
  margin-left: 10px;
  cursor: pointer;
}

.barraPerfil .conteudo .bio p {
  font-size: 1.2em;
  color: var(--clr);
  font-family: 'Ubuntu';
  text-align: justify;
}

.barraPerfil .sair {
  width: 80%;
  height: 20%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.barraPerfil .sair a {
  display: flex;

}

.barraPerfil .sair span,
.barraPerfil .sair p {
  color: var(--clr);
  font-size: 1.8em;
}

.barraPerfil .sair p {
  font-size: 1.2em;
  font-family: var(--messi);
}

















.conteudoPrincipal {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudoPrincipal .avisos {
  width: 80%;
  height: 95%;
  /* background-color: #e6005a5f; */
}

.conteudoPrincipal .avisos .container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  /* position: relative; */
  /* top: -44%; */
}

.conteudoPrincipal .avisos .container h1 {
  color: var(--clr);
  font-size: 2.3em;
  font-family: 'label';
  font-weight: normal;
}

.conteudoPrincipal .avisos .container span {
  font-family: 'Mioge';
}

.conteudoPrincipal .avisos .container .div-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #e6005a1f; */
}

.conteudoPrincipal .avisos .container .div-form #form_postagem {
  width: 80%;
}

.conteudoPrincipal .avisos .div-form label {
  width: 100%;
  color: var(--clr);
  font-family: var(--messi);
  font-size: 1.2em;
}

.conteudoPrincipal .avisos .div-form input {
  width: 20%;
  border-radius: 5px;
  height: 35px;
  border: 2px solid var(--clr);
  background-color: transparent;
  outline: none;
  padding: 10px 10px;
  color: var(--clr);
  font-family: 'Ubuntu';
  font-size: 0.8em;
}

.conteudoPrincipal .avisos .div-form input:focus {
  width: 99%;
}

.conteudoPrincipal .avisos .div-form textarea {
  width: 30%;
  border-radius: 5px;
  height: 60px;
  border: 2px solid var(--clr);
  background-color: transparent;
  outline: none;
  padding-left: 10px;
  color: var(--clr);
  font-family: 'Ubuntu';
  font-size: 0.8em;
  /* transition: none; */
}

.conteudoPrincipal .avisos .div-form textarea:focus{
  width: 99%;
  height: 100px;
}

.conteudoPrincipal .avisos .div-form button {
  width: 25%;
  cursor: pointer;
  border: 2px solid var(--clr);
  border-radius: 5px;
  padding: 10px 15px;

  font-weight: 600;
  font-size: 18px;
  color: var;
  background-color: var(--clr);
}

.conteudoPrincipal .avisos .feed {

  position: relative;
}



.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: var(--clr);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}