@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
  --clr: #bb3838;
  --navHei: 80px;
  --trans: all 1s;
  --messi: 'El messiri';
  --vibes: 'Great vibes'
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #bb38389f;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--trans);
}

body {
  background-color: #f5f5f5;
}

nav {
  width: 100%;
  height: var(--navHei);
  box-shadow: 1px 0 5px #161618;
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .temazin,
nav .registro {
  width: 15%;
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .temazin button {
  width: 60%;
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

nav .temazin button span {
  color: var(--clr);
  font-size: 2.5em;
}

nav .links {
  width: 25%;
  height: var(--navHei);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .a {
  justify-content: flex-end;
}

nav .logo {
  width: 20%;
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo h1 {
  font-size: 2.8em;
  font-family: var(--vibes);
  color: #383838;
  font-weight: normal;
  position: absolute;
}

nav .logo h1:hover {
  position: absolute;
  letter-spacing: 5px;
  cursor: pointer;
}

nav ul {
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-family: var(--messi);
  color: var(--clr);
  font-size: 1.2em;
}

nav ul li:hover {
  transform: translateY(-10px);
}

nav .registro {
  width: 20%;
  padding-right: 10px;
}

nav .cad {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--clr);
}

nav .cad:hover {
  transform: scale(1.1);
}

nav .cad a {
  color: #f5f5f5;
}


/* Nav Responsiva */
:root {
  --RnavHei: 50px;
}

.navBar {
  width: 100%;
  height: var(--RnavHei);
  box-shadow: 1px 0 5px #161618;
  position: relative;
  z-index: 30;
  display: none;
  justify-content: center;
  align-items: center;
}

.navBar .logo {
  width: 40%;
  height: var(--RnavHei);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .logo h1 {
  font-size: 1.8em;
  font-family: var(--vibes);
  color: #383838;
  font-weight: normal;
  position: absolute;
}

.navBar .logo h1:hover {
  position: absolute;
  letter-spacing: 5px;
  cursor: pointer;
}

.navBar .menu {
  width: 60%;
  height: var(--RnavHei);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navBar button {
  width: 20%;
  height: var(--RnavHei);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.navBar button span {
  color: var(--clr);
  font-size: 1.8em;
}

.navBar .menosEsse {
  position: absolute;
  top: 3px;
  left: 6px;
}

.navBar .escondida {
  width: 30%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 0px 0 30px;
  background-color: #383838;
  position: absolute;
  top: -500%;
  right: 0;
  z-index: 100;
}

.navBar ul {
  height: var(--RnavHei);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navBar ul li {
  list-style: none;
  margin: 10px 0px;
}


.navBar ul li a {
  text-decoration: none;
  font-family: var(--messi);
  color: var(--clr);
  font-size: 0.9em;
}

.navBar ul li:hover {
  transform: translateY(-10px);
}

.navBar .cad {
  padding: 7px;
  border-radius: 20px;
  background-color: var(--clr);
}

.navBar .cad:hover {
  transform: scale(1.1);
}

.navBar .cad a {
  color: #f5f5f5;
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  .navBar {
    display: flex;
  }
}












/* Sectio Inicial - Carousel */
.sectionPrincipal {
  width: 100%;
  height: 70vmax;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #b1b1b1;
  padding-top: 35px;
}

.sectionPrincipal .versiculosHome {
  width: 75%;
  height: 35vmax;
  background-image: url('./../assets/imgs/fire-g15b6a6c52_1280.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionPrincipal .versiculosHome h2{
  color: #f5f5f5;
  font-size: 3em;
  font-family: var(--vibes);
  font-weight: normal;
  border-radius: 20%;
}

.sectionPrincipal .versiculosHome p{
  color: #f5f5f5;
  font-size: 2em;
  text-align: center;
}

.sectionSegunda {
  width: 100%;
  height: 50vmax;
  background-color: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionSegunda .sobre {
  width: 70%;
  height: 30vmax;
  border-radius: 80px 0 80px 0;
  position: absolute;
  top: 60vmax;
  background-color: #383838;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.sectionSegunda .sobre .caixa {
  width: 30%;
  height: 14vmax;
  /* background-color: #e3b0625f; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.sectionSegunda .sobre .caixa span {
  color: var(--clr);
  font-size: 3.2em;
}

.sectionSegunda .sobre .caixa p {
  color: #f5f5f5;
  font-family: var(--messi);
  font-weight: normal;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sectionSegunda .mensagem {
  width: 100%;
  height: 14vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionSegunda .mensagem h2 {
  font-size: 3em;
  font-weight: normal;
  font-family: 'Dancing Script';
  color: #f5f5f5;
}

.sectionTerceira {
  width: 100%;
  height: 60vmax;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.sectionTerceira .cards {
  width: 80%;
  height: 25vmax;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.sectionTerceira .card {
  width: 30%;
  height: 25vmax;
  border-radius: 15px;
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionTerceira .card img {
  position: absolute;
  top: 120vmax;
  background-color: #32b9cd5f;
  width: 22%;
  height: 15vmax;
  border-radius: 20px 20px 0 0;
}

.sectionTerceira .card img:hover{
  transform: translateY(-3vmax);
  height: 16vmax;
  border-radius: 20px;
}


.sectionTerceira .card .titulo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}


.sectionTerceira .card .textos {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTerceira .card h3 {
  color: var(--clr);
  font-family: var(--messi);
  font-weight: 600;
  font-size: 1.5em;
}

.sectionTerceira .card p {
  color: #f5f5f5;
  font-family: 'Ubuntu';
  text-align: justify;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 22px;
}

.sectionTerceira .cad a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTerceira .card a{
  color: #b1b1b1;
  margin-left: 10%;
}












































/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}