@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=El+Messiri&family=Great+Vibes&family=Ubuntu:wght@300&display=swap');


@font-face {
  font-family: 'Mioge';
  src: url('./../assets/MiogeFreeTrial-WyBMz.ttf');
}

@font-face {
  font-family: 'titulo';
  src: url('./../assets/Aorell-mLEM5.ttf');
}

:root {
  --clr: #bb3838;
  --navHei: 80px;
  --trans: all 1s;
  --messi: 'El messiri';
  --vibes: 'Great vibes';
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr);
  border-radius: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--trans);
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: var(--navHei);
  box-shadow: 1px 0 5px #161618;
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .temazin {
  width: 35%;
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .temazin button {
  width: 60%;
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

/* 
nav .temazin button:focus {
  transform: translateY(-5px);
} */

nav .temazin button span {
  color: var(--clr);
  font-size: 2.5em;
  cursor: pointer;
}

nav .logo {
  width: 20%;
  height: var(--navHei);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo .h1 {
  font-size: 2.8em;
  font-family: 'titulo';
  color: #383838;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
  -webkit-text-stroke-width: 0.1mm;
  -webkit-text-stroke-color: var(--clr);
  text-shadow: 3px 3px 8px var(--clr);
}

nav .logo .h1:hover {
  position: absolute;
  letter-spacing: 10px;
  cursor: pointer;
}






/* Nav Responsiva */
.navBar {
  width: 25%;
  height: 100vh;
  box-shadow: 1px 0 5px #161618;
  position: fixed;
  z-index: 30000;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  transition: all 0.5s;
}

.navBar .fechar {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.navBar .fechar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.navBar .fechar button span {
  font-size: 2.5em;
  color: var(--clr);
  cursor: pointer;
}

.navBar .links {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.navBar .links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navBar .links ul li {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .links ul li a {
  font-size: 1.3em;
  color: var(--clr);
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: var(--messi);
  cursor: pointer;
}

.navBar .links .aqui {
  pointer-events: none;
  opacity: 0.4;
  transition: all 0.4s;
}

.navBar .links .curi {
  margin-top: 50%;
}

.navBar .links .curi::after {
  content: '';
  width: 70%;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  bottom: 53.5%;
  background-color: var(--clr);
  animation: vaivolta 2s infinite alternate;
}

@keyframes vaivolta {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

.navBar .links .cad {
  width: 100%;
  height: 50px;
  background-color: var(--clr);
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.navBar .links .cad a {
  color: #f5f5f5;
}









.botaoSubir {
  background-color: transparent;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 88%;
  left: 95%;
  z-index: 400000;
}

.botaoSubir span {
  font-size: 2.5em;
  color: #161618;
  animation: setaup 0.8s infinite alternate-reverse;
  cursor: pointer;
}

@keyframes setaup {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}







/* Sectio Inicial - Carousel */
.sectionPrincipal {
  width: 100%;
  height: 70vmax;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  padding-top: 35px;
}

.sectionPrincipal .versiculosHome1,
.versiculosHome2,
.versiculosHome3,
.versiculosHome4 {
  width: 75%;
  height: 35vmax;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionPrincipal .versiculosHome1 {
  background-image: url('./../assets/imgs/1.png');
}

.sectionPrincipal .versiculosHome2 {
  background-image: url('./../assets/imgs/2.png');
}

.sectionPrincipal .versiculosHome3 {
  background-image: url('./../assets/imgs/3.png');
}

.sectionPrincipal .versiculosHome4 {
  background-image: url('./../assets/imgs/4.png');
}

.sectionPrincipal .versiculosHome h2 {
  color: #f5f5f5;
  font-size: 3em;
  font-family: var(--vibes);
  font-weight: normal;
  border-radius: 20%;
}

.sectionPrincipal .versiculosHome p {
  color: #f5f5f5;
  font-size: 2em;
  text-align: center;
}















.sectionSegunda {
  width: 100%;
  height: 50vmax;
  background-color: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionSegunda .sobre {
  width: 70%;
  height: 30vmax;
  border-radius: 80px 0 80px 0;
  position: absolute;
  top: 65vmax;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: 0 0 10px 1px black;
}

.sectionSegunda .sobre .caixa {
  width: 30%;
  height: 14vmax;
  /* background-color: #e3b0625f; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.sectionSegunda .sobre .caixa span {
  color: var(--clr);
  font-size: 3.2em;
}

.sectionSegunda .sobre .caixa p {
  color: #383838;
  font-family: var(--messi);
  font-weight: normal;
  font-size: 1.1em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sectionSegunda .mensagem {
  width: 100%;
  height: 14vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionSegunda .mensagem h2 {
  font-size: 3em;
  font-weight: normal;
  font-family: 'Dancing Script';
  color: #f5f5f5;
}
















.sectionTerceira {
  width: 100%;
  height: 70vmax;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.sectionTerceira .cards {
  width: 80%;
  height: 25vmax;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.sectionTerceira .card {
  width: 30%;
  height: 29vmax;
  border-radius: 15px;
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionTerceira .card img {
  position: absolute;
  bottom: 16vmax;
  background-color: #32b9cd5f;
  width: 28%;
  height: 15vmax;
  border-radius: 20px 20px 0 0;
}

.sectionTerceira .card img:hover {
  transform: translateY(-3vmax);
  height: 16vmax;
  border-radius: 20px;
}

.sectionTerceira .card .titulo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.sectionTerceira .card .textos {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sectionTerceira .card h3 {
  color: var(--clr);
  font-family: var(--messi);
  font-weight: 600;
  font-size: 1.5em;
}

.sectionTerceira .card p {
  color: #f5f5f5;
  font-family: 'Ubuntu';
  text-align: justify;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 22px;
}

.sectionTerceira .cad a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTerceira .card a {
  color: #b1b1b1;
  margin-left: 10%;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.sectionTerceira .card a:focus {
  transform: translateY(-2px);
}

.sectionTerceira .direcionamento {
  width: 100%;
  height: 55vmax;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sectionTerceira .direcionamento .texto {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectionTerceira .direcionamento p {
  font-size: 1.7em;
  color: #383838;
  font-family: var(--messi);
  text-align: center;
}

.sectionTerceira .direcionamento span {
  margin-top: 30px;
  font-size: 3em;
  color: #383838;
  text-align: center;
  animation: prabaixo 1s infinite alternate;
}

@keyframes prabaixo {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}












.sectionQuarta {
  width: 100%;
  height: 45vmax;
  background-color: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionQuarta .partea,
.sectionQuarta .parteb {
  width: 50%;
  height: 45vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionQuarta .partea img {
  width: 80%;
}

.sectionQuarta .parteb .titulo,
.sectionQuarta .parteb .botoes {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectionQuarta .parteb .texto {
  width: 75%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectionQuarta .parteb .titulo h2 {
  color: #f5f5f5;
  font-family: var(--vibes);
  font-weight: normal;
  font-size: 3em;
}

.sectionQuarta .parteb .texto p {
  color: #162229;
  font-family: 'Ubuntu';
  font-size: 1.7em;
  font-weight: 600;
}

.sectionQuarta .parteb .botoes button {
  width: 25%;
  height: 3.5vmax;
  background-color: #162229;
  border: 2px #162229 solid;
  border-radius: 10px;
  margin: 0 10px;
  color: #f5f5f5;
  font-family: var(--messi);
  font-size: 1.1em;
  outline: none;
  cursor: pointer;
}

.sectionQuarta .parteb .botoes button:hover {
  background-color: transparent;
  color: #162229;
}

.sectionQuarta .parteb .botoes button:focus {
  transform: translateY(-5px);
  background-color: transparent;
  color: #162229;
}










.sectionQuinta {
  width: 100%;
  height: 45vmax;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionQuinta .parteA,
.sectionQuinta .parteB {
  width: 50%;
  height: 30vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionQuinta .parteB img {
  width: 70%;
  transform: scaleX(-1);
}

.sectionQuinta .parteA .titulo {
  width: 85%;
  height: 30%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sectionQuinta .parteA .titulo h2 {
  color: #383838;
  font-family: var(--vibes);
  font-weight: normal;
  font-size: 3.4em;
  line-height: 45px;
}

.sectionQuinta .parteA .texto {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  /* background-color: #e3b062; */
}

.sectionQuinta .parteA .texto p {
  color: var(--clr);
  font-family: 'Ubuntu';
  font-size: 1.5em;
  font-weight: 100;
}

.sectionQuinta .parteA .botao {
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}


.sectionQuinta .parteA .botao button {
  width: 30%;
  height: 3.5vmax;
  background-color: var(--clr);
  border: 2px var(--clr) solid;
  border-radius: 10px;
  color: #f5f5f5;
  font-family: var(--messi);
  font-size: 1.1em;
  outline: none;
}

.sectionQuinta .parteA .botao button:hover {
  background-color: transparent;
  color: var(--clr);
}

.sectionQuinta .parteA .botao button:focus {
  transform: translateY(-5px);
  background-color: transparent;
  color: var(--clr);
}













/* CURIOSIDADES */
.curiosidades {
  width: 80%;
  height: auto;
  display: none;
  /* overflow-y: auto; */
  margin: 0 auto;
}

.curiosidades .container {
  width: 80%;
  height: 20vmax;
  margin: 50px auto;
  background-color: var(--clr);
  border-radius: 70px 0 70px 0;
  box-shadow: 8px 8px 30px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curiosidades .container .texto {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 15vmax;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.curiosidades .container .texto h2 {
  font-size: 4em;
  color: #161618;
  font-family: var(--vibes);
  font-weight: 800;
}

.curiosidades .container .conteudo {
  width: 100%;
  height: 20vmax;
  margin: 30px auto;
  background-color: rgba(17, 17, 17, 0.94);
  opacity: 0.00005;
  border-radius: 70px 0 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.curiosidades .container .conteudo:hover {
  opacity: 1;
}

.curiosidades .container .conteudo .primeiraInfo {
  width: 80%;
}

.curiosidades .container .conteudo p {
  font-size: 1.2em;
  font-family: 'Ubuntu';
  color: #f5f5f5;
  text-align: justify;
}

.curiosidades .container .conteudo a {
  color: #797979;
  cursor: pointer;
}

.curiosidades .container:nth-last-child(3) {
  background-image: url('./../assets/imgs/cortinas-do-tabernaculo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.curiosidades .container:nth-last-child(2) {
  background-image: url('./../assets/imgs/oatrio-776x310.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.curiosidades .container:nth-last-child(1) {
  background-image: url('./../assets/imgs/antigo-testamento.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.curiosidades .container .modal {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 47vmax;
  background-color: #1616185f;
  display: none;
  justify-content: center;
  align-items: center;
  /* padding-top: 80px; */
  top: 0;
}

.curiosidades .container .modal .texto {
  min-width: 35%;
  max-width: 70%;
  height: 40vmax;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.curiosidades .container .modal .texto .fechar,
.curiosidades .container .modal .texto .rodape {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #797979;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.curiosidades .container .modal .texto .rodape {
  border-bottom: 0;
  border-top: 1px solid #383838;
}

.curiosidades .container .modal .texto .info {
  width: 80%;
  height: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  overflow-y: scroll;
}

.curiosidades .container .modal .texto .info h4 {
  font-size: 1.7em;
  font-family: var(--messi);
}

.curiosidades .container .modal .texto .fechar button {
  background-color: transparent;
  border: none;
  outline: none;
}

.curiosidades .container .modal .texto .fechar button span {
  color: var(--clr);
  font-size: 2.4em;
  cursor: pointer;
}

.curiosidades .container .modal .texto .info p {
  text-align: justify;
  font-family: 'Ubuntu';
  font-size: 1.2em;
}







/* Login */
.login, .cadastro {
  width: 25%;
  height: 100vh;
  box-shadow: 1px 0 5px #161618;
  position: fixed;
  z-index: 30000;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  transition: all 0.5s;
}


.login .fechar, .cadastro .fechar {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #1298183f; */
}

.login .fechar button, 
.cadastro .fechar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.login .fechar button span, 
.cadastro .fechar button span {
  font-size: 2.5em;
  color: var(--clr);
  cursor: pointer;
}

.login .conteudo,
.cadastro .conteudo {
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: #283742; */
}

.login .conteudo .mensagem,
.login .conteudo .email,
.login .conteudo .senha,
.login .conteudo .botao {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


.login .conteudo .mensagem h4 {
  color: var(--clr);
  font-family: 'Mioge';
  font-size: 2.5em;
  font-weight: 800;
}

.login .conteudo .email p,
.login .conteudo .senha p {
  color: var(--clr);
  font-family: var(--messi);
  font-size: 1.3em;
}

.login .conteudo .email input,
.login .conteudo .senha input {
  width: 100%;
  height: 40%;
  background-color: transparent;
  border: 2px solid var(--clr);
  border-radius: 8px;
  outline: none;
  color: var(--clr);
  padding: 0 5px;
  font-family: 'Ubuntu';
  font-size: 1em;
}

.login .conteudo .email input:focus,
.login .conteudo .senha input:focus {
  transform: scale(1.05);
}

.login .conteudo .botao {
  margin-top: 5px;
  align-items: center;
  width: 80%;
}

.login .conteudo .botao button {
  width: 70%;
  height: 45%;
  background-color: var(--clr);
  border: 2px solid #772d2d;
  color: #f5f5f5;
  border-radius: 8px;
  font-family: var(--messi);
  font-size: 1.1em;
  cursor: pointer;
}

.login .conteudo .botao button:hover {
  background-color: transparent;
  color: var(--clr);
  border: 2px solid var(--clr);
}

.login .conteudo .botao button:focus {
  background-color: transparent;
  color: var(--clr);
  border: 2px solid var(--clr);
  transform: scale(1.05);
}

.login .conteudo .botao p {
  margin-top: 5px;
  color: #772d2d;
  font-family: 'Ubuntu';
}

.login .conteudo .botao span {
  color: var(--clr);
  font-weight: 800;
}

.login .mensagemLogado p{
  color: var(--clr);
  font-size: 1.1em;
  font-family: var(--messi);
  margin-bottom: 30px;
  text-align: center;
}


.cadastro .conteudo .mensagem{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadastro .conteudo .mensagem h4{
  color: var(--clr);
  font-family: 'Mioge';
  font-size: 2.5em;
  font-weight: 800;
}

.cadastro .conteudo .entradas{
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: #22312313; */
}

.cadastro .conteudo .entradas p{
  font-size: 1.1em;
  color: var(--clr);
  font-family: var(--messi);
}

.cadastro .conteudo .entradas input{
  background-color: transparent;
  border: 2px solid var(--clr);
  width: 100%;
  height: 11%;
  border-radius: 10px;
  padding: 0 5px;
  margin-bottom: 6%;
  outline: none;
  color: var(--clr);
  font-family: 'Ubuntu';
}

.cadastro .conteudo .entradas input:focus{
  transform: scale(1.05);
}

.cadastro .conteudo .botao {
  width: 90%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro .conteudo .botao button{
  width: 70%;
  height: 65%;
  background-color: var(--clr);
  border: 2px solid #772d2d;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: whitesmoke;
  font-family: var(--messi);
  font-size: 1.2em;
}

.cadastro .conteudo .botao button:hover{
  background-color: transparent;
  border: 2px solid var(--clr);
  color: var(--clr);
}

.cadastro .conteudo .botao button:focus{
  background-color: transparent;
  border: 2px solid var(--clr);
  color: var(--clr);
  transform: scale(1.05);
}














/* Footer */
footer {
  width: 100%;
  height: 4vmax;
  background-color: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #f5f5f5;
  font-family: var(--messi);
}